<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>

  <%- include('partials/header.ejs') %>

    <section class="container">
      <%- include('partials/navbar.ejs') %>

      <article class="content">
        <h1>Seja bem vindo</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae corrupti deserunt dicta aliquid ab
          nulla,velodit, aliquam nobis, voluptas esse. Dolor repellat magni deserunt reprehenderit voluptate ab eius nihil!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae corrupti deserunt dicta aliquid ab
          nulla,velodit, aliquam nobis, voluptas esse. Dolor repellat magni deserunt reprehenderit voluptate ab eius nihil!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae corrupti deserunt dicta aliquid ab
          nulla,velodit, aliquam nobis, voluptas esse. Dolor repellat magni deserunt reprehenderit voluptate ab eius nihil!
        </p>
        </article>
    </section>

    <%- include('partials/footer.ejs') %>
      <%- include('partials/foot.ejs') %>
</body>

</html>